
.individual-call {
  margin: 10px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border: 1px solid grey;
  background-color: white;
  border-radius: 10px;
}

.call-info {
  display:flex;
  flex-direction: column;
}

.call-from-name {
  margin: 10px auto;
  font-weight: bolder;
}

.material-icons {
  font-size: 15px;
}


.received {
  color: red;
}

.made {
  color: green;
}