
footer {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  padding: 10px 0;
  box-shadow: 0 0 1px rgba(50, 50, 50, 0.75);
  background-color: white;
}

footer a {
  border:none;
  background-color: white;
  margin: 1vw auto;
  font-size: 1.5em;
  text-decoration: none;
  color: grey;
}



.fa-circle {
  background-color: #63d471;
  border-radius: 50%;
  opacity: 65%;
}

.number-pad {
  padding: 15px 20px;
  border-radius: 50%;
  color:white;
  background-color: #63d471;
  background-image: linear-gradient(315deg, #63d471 0%, #429261 74%);
  box-shadow: 0 0.25px 0.25px rgba(0, 0, 0, 0.12), 0 0.5px 0.5px rgba(0, 0, 0, 0.12),
  0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
}



